* {
	margin: 0;
	font-family: "Inconsolata";
	color: black;
}

.heading {
	text-align: center;
	padding: 1em;
	font-size: 3em;
}

.container {
	display: flex;
}

.left, .right {
	width: 48.5%;
	height: 100%;
}

.left_item, .right_item  {
	display: flex;
}

.left_content, .right_content {
	width: 80%;
	margin: auto 0;
}

.left_data {
	padding: 0 2em 0 5em;
}

.right_data {
	padding: 0 5em 0 2em;
}

.left_data h2, .right_data h2 {
	padding: 0 0 1em 0;
}

.left_data img, .right_data img {
	width: 100%;
	margin-bottom: 1em;
}

.left_arrow, .right_arrow {
	width: 20%;
}

.left_arrow img, .right_arrow img {
	width: 100%;
}

.left_content {
	text-align: right;
}

.timeline {
	width: 3%;
	border-radius: 5px;
	background-color: black;
	/*margin-top: 15px;*/
}

.right_content {
	text-align: left;
}

.gap {
	width: 100%;
}

.now {
	padding: 1em;
	text-align: center;
}

.now h2 {
	font-size: 2em;
	padding: 0.75em;
}

.line {
	width: 100%;
	height: 30px;
	background-color: black;
	border-radius: 5px;
}

.images {
	padding: auto;
	display: flex;
	justify-content: center;
}

.images img {
	height: 300px;
	margin: 3em 2em;
}

